
__pycache__/
*.py[cod]
*.pyo

.vscode/

compressed_llama_distilled/
compressed_llama_distilled_kl/
compressed_llama_distilled_kl_original_input/
compressed_llama_distilled_topk/
compressed_llama_distilled_topk_wo_sink/
lora_all_mixed/
lora_mixed/
*.pt

*.log
.DS_Store